<a href="https://colab.research.google.com/github/sabaagizew/10Acadamey_week-3/blob/main/week3_sales_pridict_prophet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
!pip install django-model-utils

Requirement already satisfied: django-model-utils in /usr/local/lib/python3.7/dist-packages (4.1.1)
Requirement already satisfied: Django>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from django-model-utils) (3.2.5)
Requirement already satisfied: sqlparse>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from Django>=2.0.1->django-model-utils) (0.4.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from Django>=2.0.1->django-model-utils) (2018.9)
Requirement already satisfied: asgiref<4,>=3.3.2 in /usr/local/lib/python3.7/dist-packages (from Django>=2.0.1->django-model-utils) (3.4.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from asgiref<4,>=3.3.2->Django>=2.0.1->django-model-utils) (3.7.4.3)

In [4]:
import warnings
warnings.filterwarnings("ignore")

import os
import logging
logging.basicConfig(level=os.environ.get("LOGLEVEL", "INFO"))

# loading packages
# basic + dates 
import pandas as pd
from pandas import datetime

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns # advanced vizs
%matplotlib inline
import sys, os
import json
import requests
import time
import datetime as dt
from datetime import date, timedelta, datetime

from itertools import repeat
import itertools

import numpy as np
import pandas as pd
import statistics as st
import scipy.stats as ss
from random import randint

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
log = logging.getLogger()
log.info('check')

INFO:root:check

In [7]:
# Read Datas

store_file = '../data/store.csv'
test_file = '../data/test.csv'
train_file = '../data/train.csv'

In [8]:
 store_file= pd.read_csv('drive/MyDrive/main/store.csv')

In [9]:
test_file= pd.read_csv('drive/MyDrive/main/test.csv')

In [10]:
train_file=pd.read_csv('drive/MyDrive/main/train.csv')

In [11]:
test_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             41088 non-null  int64
 1   Store          41088 non-null  int64
 2   DayOfWeek      41088 non-null  int64
 3   Date           41088 non-null  object
 4   Open           41077 non-null  float64
 5   Promo          41088 non-null  int64
 6   StateHoliday   41088 non-null  object
 7   SchoolHoliday  41088 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB

In [12]:
train_file['Date'] = pd.to_datetime(train_file['Date'])
train_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB

In [13]:
store_file

      Store StoreType  ... Promo2SinceYear     PromoInterval
0         1         c  ...             NaN               NaN
1         2         a  ...          2010.0   Jan,Apr,Jul,Oct
2         3         a  ...          2011.0   Jan,Apr,Jul,Oct
3         4         c  ...             NaN               NaN
4         5         a  ...             NaN               NaN
...     ...       ...  ...             ...               ...
1110   1111         a  ...          2013.0   Jan,Apr,Jul,Oct
1111   1112         c  ...             NaN               NaN
1112   1113         a  ...             NaN               NaN
1113   1114         a  ...             NaN               NaN
1114   1115         d  ...          2012.0  Mar,Jun,Sept,Dec

[1115 rows x 10 columns]

In [14]:
store_file.Promo2.value_counts()

1    571
0    544
Name: Promo2, dtype: int64

In [15]:
train_file.head()
train_file.Open.value_counts()

1    844392
0    172817
Name: Open, dtype: int64

In [16]:
test_file.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [17]:
train_file

         Store  DayOfWeek       Date  ...  Promo  StateHoliday  SchoolHoliday
0            1          5 2015-07-31  ...      1             0              1
1            2          5 2015-07-31  ...      1             0              1
2            3          5 2015-07-31  ...      1             0              1
3            4          5 2015-07-31  ...      1             0              1
4            5          5 2015-07-31  ...      1             0              1
...        ...        ...        ...  ...    ...           ...            ...
1017204   1111          2 2013-01-01  ...      0             a              1
1017205   1112          2 2013-01-01  ...      0             a              1
1017206   1113          2 2013-01-01  ...      0             a              1
1017207   1114          2 2013-01-01  ...      0             a              1
1017208   1115          2 2013-01-01  ...      0             a              1

[1017209 rows x 9 columns]

In [18]:
# data extraction
# !!!!! HOW !!!!!
# train_file['Date'] = pd.to_datetime(train_file['Date'])
# train_file['Year'] = train_file['Date'].dt.year
# train_file['Month'] = train_file.index.month
# train_file['Day'] = train_file.index.day
# train_file['WeekOfYear'] = train_file.index.weekofyear
# len(train_file.index.week)
# train_file.index.week

In [19]:
store_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [20]:
store_file.isna().any()

Store                        False
StoreType                    False
Assortment                   False
CompetitionDistance           True
CompetitionOpenSinceMonth     True
CompetitionOpenSinceYear      True
Promo2                       False
Promo2SinceWeek               True
Promo2SinceYear               True
PromoInterval                 True
dtype: bool

In [21]:
store_file.isna().any() # is null

Store                        False
StoreType                    False
Assortment                   False
CompetitionDistance           True
CompetitionOpenSinceMonth     True
CompetitionOpenSinceYear      True
Promo2                       False
Promo2SinceWeek               True
Promo2SinceYear               True
PromoInterval                 True
dtype: bool

In [22]:
store_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [23]:
store_file.isnull().sum() / store_file.shape[0] * 100.00

INFO:numexpr.utils:NumExpr defaulting to 2 threads.

Store                         0.000000
StoreType                     0.000000
Assortment                    0.000000
CompetitionDistance           0.269058
CompetitionOpenSinceMonth    31.748879
CompetitionOpenSinceYear     31.748879
Promo2                        0.000000
Promo2SinceWeek              48.789238
Promo2SinceYear              48.789238
PromoInterval                48.789238
dtype: float64

In [24]:
# No particular pattern observed. In this case, it makes a complete sense to replace NaN with the median values
store_file['CompetitionDistance'].fillna(store_file['CompetitionDistance'].median(), inplace = True)

In [25]:
store_file.fillna(0, inplace = True)
store_file.isnull().sum()

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [26]:
# To see the percentage of missing values of every columns
def every_column_percent_missing(df):
    percent_missing = df.isnull().sum() * 100 / len(df)
    missing_value_df = pd.DataFrame({'column_name': df.columns,
                                     'percent_missing': percent_missing})

    missing_value_df.sort_values('percent_missing', inplace=True)

    print(missing_value_df)


every_column_percent_missing(store_file)

                                         column_name  percent_missing
Store                                          Store              0.0
StoreType                                  StoreType              0.0
Assortment                                Assortment              0.0
CompetitionDistance              CompetitionDistance              0.0
CompetitionOpenSinceMonth  CompetitionOpenSinceMonth              0.0
CompetitionOpenSinceYear    CompetitionOpenSinceYear              0.0
Promo2                                        Promo2              0.0
Promo2SinceWeek                      Promo2SinceWeek              0.0
Promo2SinceYear                      Promo2SinceYear              0.0
PromoInterval                          PromoInterval              0.0

In [27]:
## Store and Train
train_store = pd.merge(train_file, store_file, how='inner', on='Store')
train_store['StateHoliday'] = train_store['StateHoliday'].apply(lambda x: str(x))
train_store

         Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
0            1          5  ...             0.0                 0
1            1          4  ...             0.0                 0
2            1          3  ...             0.0                 0
3            1          2  ...             0.0                 0
4            1          1  ...             0.0                 0
...        ...        ...  ...             ...               ...
1017204   1115          6  ...          2012.0  Mar,Jun,Sept,Dec
1017205   1115          5  ...          2012.0  Mar,Jun,Sept,Dec
1017206   1115          4  ...          2012.0  Mar,Jun,Sept,Dec
1017207   1115          3  ...          2012.0  Mar,Jun,Sept,Dec
1017208   1115          2  ...          2012.0  Mar,Jun,Sept,Dec

[1017209 rows x 18 columns]

In [31]:
#Check for distribution in both training and test sets - are the promotions distributed similarly between these two groups

In [ ]:
mergetrainfile.isnull.sum()/mergetrainfile.shape[0]*100

In [ ]:
from matplotlib.pyplot import *
train_distribution = train_file.Promo.value_counts()
test_distribution = test_file.Promo.value_counts()

train_file.plot.bar()(train_distribution.index, train_distribution, "Promo Distribution on Training Set")
test_file.plot.bar()(test_distribution.index, test_distribution, "Promo Distribution on Testing Set")

In [ ]:
import sys, os
import json
import requests
import time
import datetime as dt
from datetime import date, timedelta, datetime

from itertools import repeat
import itertools

import numpy as np
import pandas as pd
import statistics as st
import scipy.stats as ss
from random import randint

import matplotlib.pyplot as plt
import seaborn as sns

from prophet import Prophet
from prophet.plot import add_changepoints_to_plot, plot_cross_validation_metric
from prophet.diagnostics import cross_validation, performance_metrics

In [ ]:
class FetchPrepareData():
    def __init__(self):
        self.dfdict = {}
        self.dfdict['train'] = self.get_train_data()
        self.dfdict['test'] = self.get_test_data()
        self.dfdict['sample'] = self.get_sample_data()
        self.dfdict['store'] = self.get_store_data()
        
    def get_train_data(self,name='train'):
        filename = f'data/{name}.csv'        
        return pd.read_csv(filename)
    
    def get_test_data(self,name='test'):
        filename = f'data/{name}.csv'        
        return pd.read_csv(filename)
        
    def get_store_data(self,name='store'):
        filename = f'data/{name}.csv'        
        return pd.read_csv(filename)  
    
    def get_sample_data(self,name='sample_submission'):
        filename = f'data/{name}.csv'        
        return pd.read_csv(filename)  
        
    def df_to_prophet(self,name='train', 
                timecol="Date",
                targetcol="Sales",
                ftransform=None, 
                prefilter={}, 
                postfilter={},
                rs = '1D'):
        '''
        prepare data frame to prophet modelling
            dfin - input data frame
            timecol - the column name for time/date
            prefilter - a dictionary that contains column_name:value
            postfilter - a dictionary that contains column_name:value
            ftransform - a function to apply after prefiltering takes dfin as input
            rs - unit of time to resample time column 
        '''
        if name in ['train','test','sample']:
            df = self.dfdict[name].copy()
        else:
            print("only name=['train','test','sample'] are allowed")
            return pd.DataFrame()
        
        df['ts'] =  pd.to_datetime(df[timecol]).dt.tz_localize(None)
        df['ts'] = df['ts'].dt.to_pydatetime()

        #apply pre-filter
        for k, v in prefilter.items():
            print(f'Applying pre transform filter with column={k}, value={v}')
            df = df[df[k]==v]

        #transform
        if ftransform is not None:
            print(f'Applying functional transformation ..')
            df = ftransform(df)

        #apply post filter
        for k, v in prefilter.items():
            print(f'Applying post transform filter with column={k}, value={v}')
            df = df[df[k]==v]

        df = df.reset_index().set_index('ts').resample(rs).sum() 
        df = df.reset_index()

        df = df[['ts', targetcol]]
        df = df.rename(columns={"ts": "ds", targetcol: "y"})
        df = df.dropna()
        df.ds = pd.Series([v.to_pydatetime() for v in df.ds], dtype=object)
        return df

def plot_prophet(tsdf, 
                 changepoint_prior_scale=0.001, 
                 seasonality_prior_scale=1.0, 
                 periods=10, 
                 split=0.8 ):
    
    model = (Prophet(changepoint_prior_scale=changepoint_prior_scale, 
                    seasonality_prior_scale=seasonality_prior_scale, 
                    interval_width=0.95, 
                    daily_seasonality=True, 
                    weekly_seasonality=True, 
                    yearly_seasonality=False) \
            .add_seasonality(name='monthly', period=30.5, fourier_order=5) \
            .fit(tsdf)
            )
    
    future = model.make_future_dataframe(periods)
    forecast = model.predict(future)
    components = model.plot_components(forecast)

    forecast.ds = pd.Series([v.to_pydatetime() for v in forecast.ds], dtype=object)

    split = 0.8
    threshold_date_train = tsdf.ds[ int(len(tsdf.ds)*split) ]
    threshold_date_forecast = forecast.ds[ int(len(forecast.ds)*split) ]

    forecast_train = forecast[ threshold_date_forecast >= forecast.ds ]
    forecast_test = forecast[ threshold_date_forecast < forecast.ds ]
    df_train = tsdf[ threshold_date_train >= tsdf.ds ]
    df_test = tsdf[ threshold_date_train < tsdf.ds ]

    fig, ax = plt.subplots(figsize=(20,10))
    sns.set_style('darkgrid', {'axes.facecolor': '.9'})
    sns.set_palette(palette='deep')
    sns_c = sns.color_palette(palette='deep')

    ax.fill_between( x=forecast['ds'], y1=forecast['yhat_lower'], y2=forecast['yhat_upper'],
        color=sns_c[2], alpha=0.25, label=r'0.95 credible_interval')

    sns.scatterplot(x='ds', y='y', label='real historic data', data=df_train, ax=ax, color='black')
    sns.scatterplot(x='ds', y='y', label='real test data', data=df_test, ax=ax, color = 'red')
    sns.lineplot(x='ds', y='yhat', label='historic fit', data=forecast_train, ax=ax, color = 'blue')
    sns.lineplot(x='ds', y='yhat', label='future prediction', data=forecast_test, ax=ax, color = 'orange')
    ax.axvline(threshold_date_train, color=sns_c[3], linestyle='--', label='80% train-test data split')
    ax.legend(loc='upper left')
    ax.set_xlabel('Date')
    ax.set_ylabel('Engagement rate')
    ax.tick_params(axis='x', rotation=45)
    ax.set(title='Engagement rate model fit & prediction for Campaign ID ')
    
    return fig, components
    
    
#     model = Prophet(mcmc_samples=1000).fit(tsdf)
    
#     model = Prophet(seasonality_mode='multiplicative').add_seasonality('quarterly', period=91.25, fourier_order=8, 
#                        mode='additive').add_regressor('regressor', mode='additive').fit(tsdf)
    
#     model = Prophet(seasonality_mode='multiplicative').add_seasonality(name='monthly', period=30.5, fourier_order=5
#             ).add_seasonality(name='weekly', period=7, fourier_order=3
#             ).add_seasonality(name='daily', period=1, fourier_order=1
#             ).fit(tsdf)

In [ ]:
rom.dfdict['train'].head()

In [ ]:
rom = FetchPrepareData()
tsdf = rom.df_to_prophet(name='train',prefilter={'Store':1})
print(tsdf.shape)
tsdf.head()

In [ ]:
plot_prophet(tsdf, changepoint_prior_scale = 10,  periods = 5) 
#              seasonality_prior_scale = 0.05

In [ ]:
model = Prophet(changepoint_prior_scale=0.3, daily_seasonality=True, weekly_seasonality=True, yearly_seasonality=False).fit(tsdf)
future = model.make_future_dataframe(periods=10)
forecast = model.predict(future)

In [ ]:
df_cv = cross_validation(model, initial='10 days', period = '2 days', horizon = '5 days',) 
#                          parallel="processes")
df_cv

In [ ]:
plot_prophet(tsdf2, changepoint_prior_scale = 10, periods = 1)

In [ ]:
param_grid = {  
    'changepoint_prior_scale': [0.0005, 0.001, 0.005, 0.01, 0.1, 0.5],
    'seasonality_prior_scale': [0.005, 0.01, 0.05, 0.1, 1.0, 10.0],
}

# Generate all combinations of parameters
all_params = [dict(zip(param_grid.keys(), v)) for v in itertools.product(*param_grid.values())]
rmses = []  # Store the RMSEs for each params here

# Use cross validation to evaluate all parameters
for params in all_params:
    m = Prophet(**params).fit(tsdf2)  # Fit model with given params
    df_cv = cross_validation(m, horizon= '5 days', parallel="processes")
    df_p = performance_metrics(df_cv, rolling_window=1)
    rmses.append(df_p['rmse'].values[0])

# Find the best parameters
tuning_results = pd.DataFrame(all_params)
tuning_results['rmse'] = rmses
print(tuning_results)

best_params = all_params[np.argmin(rmses)]
print(best_params)

In [ ]:
split = 0.8
# el = int(len(tsdf.ds)*split)
threshold_date_train = tsdf.ds[ int(len(tsdf.ds)*split) ]
threshold_date_forecast = forecast.ds[ int(len(forecast.ds)*split) ]

forecast_train = forecast[ threshold_date_forecast >= forecast.ds ]
forecast_test = forecast[ threshold_date_forecast < forecast.ds ]
df_train = tsdf[ threshold_date_train >= tsdf.ds ]
df_test = tsdf[ threshold_date_train < tsdf.ds ]

In [ ]:
plot_prophet(tsdf2, changepoint_prior_scale = 0.5, seasonality_prior_scale = 0.005, periods = 5)

In [ ]:
fig, ax = plt.subplots(figsize=(20,10))
# plt.figure()
sns.set_style('darkgrid', {'axes.facecolor': '.9'})
sns.set_palette(palette='deep')
sns_c = sns.color_palette(palette='deep')

ax.fill_between( x=forecast['ds'], y1=forecast['yhat_lower'], y2=forecast['yhat_upper'],
    color=sns_c[2], alpha=0.25, label=r'0.95 credible_interval')

sns.scatterplot(x='ds', y='y', label='real historic data', data=df_train, ax=ax, color='black')
sns.lineplot(x='ds', y='y', label='model fit', data=df_test, ax=ax)
sns.lineplot(x='ds', y='yhat', label='historic fit', data=forecast_train, ax=ax, color = 'blue')
sns.lineplot(x='ds', y='yhat', label='future prediction', data=forecast_test, ax=ax, color = 'orange')
ax.axvline(threshold_date, color=sns_c[3], linestyle='--', label='80% train-test data split')
ax.legend(loc='upper left')
ax.set_xlabel('Date')
ax.set_ylabel('Engagement rate')
ax.tick_params(axis='x', rotation=45)
ax.set(title='Engagement rate model fit & prediction for Campaign ID ')